#container{
    position: relative;
}

.input-group{
    width: 9.46rem;
    border: solid 1px #dcdcdc;
    border-radius: 10px;
    height: 6.7rem;
    margin-top: 0.26rem;
    padding: 1px 0;
    box-shadow: 0.12rem 0.12rem 0.12rem #F0EDED;
}
.grp{
    font-size:0.42rem;
    text-align: left;
    border-bottom: solid 1px #e4e4e4;
    padding-left: 0.26rem;
    height: 1.33rem;
    line-height: 1.33rem;
}
.input-icon{
    margin-top: 0.5rem;
}
.my{
    background-image: url("../img@2x/nav_icon_pink_wode_nor.png.png");
}
.grp a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.all-avatar p{
    width: 100%;
    position: absolute;
    text-align: center;
    margin-top: 4.7rem;
    color: gray;
    font-size: 0.3rem;
}
.playPhone{
    background-image: url("../img@2x/icon_btn_dianhua_nor.png@2x.png");
    background-size: 100% 100%;
    width:1.54rem ;
    height: 1.54rem;
    border-radius: 50%;
    position: relative;
    bottom:2rem;
    right: -80%;
    top:3%;
}